* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    /* animation: shakebody .4s linear infinite; */
}

.sky {
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    /* animation: skymove linear infinite;
    animation-duration: 6s; */
}

.trees {
    height: 67vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: relative;
    top: -90px;
}

.track {
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top: 54vh;
    animation: carmove 6s linear infinite;
    /* animation-duration: 6s; */

}

.car {
    height: 100px;
    width: 334px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 286px;
    bottom: 338px;
    animation: shake linear infinite;
    animation-duration: .3s;
}

.wheel1 img {
    width: 74px;
    position: relative;
    top: 36px;
    left: 40px;
    animation: wheelRotation linear infinite;
    animation-duration: 0.16s;


}

.wheel2 img {
    width: 77px;
    position: relative;
    top: -43px;
    left: 217px;
    animation: wheelRotation linear infinite;
    animation-duration: 0.16s;
}

@keyframes wheelRotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes carmove {
    100% {
        transform: translateX(-500vw);
        /*x m move kr do - movement in opposite direction*/
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes shakebody {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(-50px);
    }
}

/* @keyframes skymove
{
    100%{
        transform: rotate(360deg);
    }
} */